body, html {
  font-family: 'Raleway', sans-serif;
}

#latest p {
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 21px;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.m-10 {
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  body, html {
    font-size: 10px;
  }

  #latest p {
    margin-left: 10px;
  }  
}
