{% extends "base.html" %}
{% block title %}Chart{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="latest">
  <p>
    {{ current.date }} <br>
    Indoors: Temp {{ current.temp|round|int }}&#176;C
    Humidity {{ current.humidity|round|int }} % <br>
    Outdoors: Temp {{ current.outdoorTemp|round|int }}&#176;C 
    Humidity {{ current.outdoorHumidity|round|int }} % 
  </p>
</div>
<div id="chart">
    <embed type="image/svg+xml" src= {{ chart|safe }} />
 </div>
{% endblock %}
